<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/landing.css">

    <title> Heart Haven </title>

</head>
<body>
    <div class="container-fluid full-page">
        <div class="row full-page no-gutters">
            <div class="col-6 order-1 order-md-2 priority">
                <!-- <img id="mainImage" src="../static/images/istockphoto-1181180127-170667a.webp" alt="Image of Heart"> -->
                <div class="hero-image"></div>
            </div>
            <div class="col-6 text-center order-2 order-md-1 hero-text">
                <div class="hero-text-container">
                    <img src="../static/images/trace-6.svg" alt="" class="img-fluid">
                    <p class="hero-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, iste molestiae
                        beatae, maiores deserunt
                        in voluptatibus
                        aspernatur architecto excepturi delectus soluta? Ipsa, deleniti dolorem hic consequatur
                        repellat eveniet quidem
                        voluptate necessitatibus dolorum delectus minus vitae, ut, veritatis sint ipsum magnam
                        autem nam ex deserunt debitis
                        eaque ratione! Nobis, quidem assumenda.
                    </p>
                    <div class="btn-container">
                        <a href="./survey.html"><button class="btn-style">Let's Get Started!</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>
</html>