<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/landing.css">
    <title>User Information Form</title>
</head>
<body>
    <form id="userForm">
        <input type="text" id="firstName" placeholder="First Name" required>
        <input type="text" id="lastName" placeholder="Last Name" required>
        <input type="number" id="age" placeholder="Age" required>
        <button type="submit">Submit</button>
    </form>
    <div id="result"></div>
    <!-- <script src="../static/js/script.js"></script> -->
</body>
</html>